In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [13]:
df = pd.read_excel('childmortality.xlsx')
m = df.dropna()

In [14]:
mortalidade = m.iloc[0:,[0,208]].dropna()
mortalidade

       Under five mortality   2007
0               Afghanistan  113.2
1                   Albania   18.7
2                   Algeria   30.7
3                    Angola  196.4
4       Antigua and Barbuda   11.3
5                 Argentina   15.8
6                   Armenia   21.1
7                 Australia    5.4
8                   Austria    4.6
9                Azerbaijan   45.8
10                  Bahamas   14.8
11                  Bahrain   10.0
12               Bangladesh   59.4
13                 Barbados   15.8
14                  Belarus    7.9
15                  Belgium    4.8
16                   Belize   20.6
17                    Benin  119.0
18                   Bhutan   51.3
19                  Bolivia   54.9
20   Bosnia and Herzegovina    8.2
21                 Botswana   64.0
22                   Brazil   19.7
23                   Brunei    9.0
24                 Bulgaria   14.3
25             Burkina Faso  139.9
26                  Burundi  114.5
27                 Cambodia   55.8
28                 Cameroon  117.6
29                   Canada    5.9
..                      ...    ...
151                   Spain    5.2
152               Sri Lanka   12.5
153                   Sudan   87.0
154                Suriname   27.4
155               Swaziland  113.0
156                  Sweden    3.3
157             Switzerland    4.8
158                   Syria   17.3
159              Tajikistan   58.6
160                Tanzania   78.1
161                Thailand   16.3
162             Timor-Leste   74.1
163                    Togo   99.2
164                   Tonga   16.8
165     Trinidad and Tobago   25.6
166                 Tunisia   20.5
167                  Turkey   23.9
168            Turkmenistan   66.0
169                  Uganda   95.3
170                 Ukraine   13.4
171    United Arab Emirates    9.4
172          United Kingdom    5.8
173           United States    7.8
174                 Uruguay   13.3
175              Uzbekistan   50.8
176                 Vanuatu   28.2
177               Venezuela   17.4
178      West Bank and Gaza   25.2
179                 Vietnam   26.9
180                   Yemen   68.0

[181 rows x 2 columns]

In [15]:
fertility = pd.read_excel('totalfertility.xlsx')
f=fertility.dropna()

In [16]:
fertility_ano = f.iloc[0:,[0,208]]
fertility_ano

       Total fertility rate  2007
0               Afghanistan  6.46
1                   Albania  1.80
2                   Algeria  2.66
3                    Angola  6.52
4       Antigua and Barbuda  2.18
5                 Argentina  2.25
6                   Armenia  1.40
7                 Australia  1.92
8                   Austria  1.38
9                Azerbaijan  1.99
10                  Bahamas  1.88
11                  Bahrain  2.29
12               Bangladesh  2.44
13                 Barbados  1.83
14                  Belarus  1.39
15                  Belgium  1.80
16                   Belize  2.97
17                    Benin  5.37
18                   Bhutan  2.59
19                  Bolivia  3.55
20   Bosnia and Herzegovina  1.21
21                 Botswana  2.91
22                   Brazil  1.94
23                   Brunei  2.12
24                 Bulgaria  1.40
25             Burkina Faso  6.12
26                  Burundi  6.57
27                 Cambodia  3.10
28                 Cameroon  5.24
29                   Canada  1.66
..                      ...   ...
151                   Spain  1.40
152               Sri Lanka  2.31
153                   Sudan  4.87
154                Suriname  2.44
155               Swaziland  3.76
156                  Sweden  1.89
157             Switzerland  1.46
158                   Syria  3.24
159              Tajikistan  3.67
160                Tanzania  5.59
161                Thailand  1.50
162             Timor-Leste  6.59
163                    Togo  4.92
164                   Tonga  4.06
165     Trinidad and Tobago  1.79
166                 Tunisia  2.04
167                  Turkey  2.17
168            Turkmenistan  2.52
169                  Uganda  6.43
170                 Ukraine  1.35
171    United Arab Emirates  2.00
172          United Kingdom  1.84
173           United States  2.12
174                 Uruguay  2.12
175              Uzbekistan  2.47
176                 Vanuatu  3.68
177               Venezuela  2.56
178      West Bank and Gaza  4.48
179                 Vietnam  1.88
180                   Yemen  5.01

[181 rows x 2 columns]

In [17]:
life = pd.read_excel('lifeexpectancy.xlsx')
l = life.dropna()

In [18]:
life_ano = l.iloc[0:,[0,208]].dropna()
life_ano

            Life expectancy  2007
0               Afghanistan  52.4
1                   Albania  76.6
2                   Algeria  75.3
3                    Angola  56.2
4       Antigua and Barbuda  75.3
5                 Argentina  75.2
6                   Armenia  72.3
7                 Australia  81.5
8                   Austria  80.1
9                Azerbaijan  69.1
10                  Bahamas  71.8
11                  Bahrain  77.0
12               Bangladesh  67.7
13                 Barbados  75.1
14                  Belarus  69.7
15                  Belgium  79.5
16                   Belize  70.6
17                    Benin  59.2
18                   Bhutan  70.3
19                  Bolivia  70.9
20   Bosnia and Herzegovina  77.3
21                 Botswana  52.4
22                   Brazil  73.0
23                   Brunei  76.8
24                 Bulgaria  72.9
25             Burkina Faso  57.4
26                  Burundi  57.9
27                 Cambodia  65.4
28                 Cameroon  55.7
29                   Canada  80.6
..                      ...   ...
151                   Spain  80.8
152               Sri Lanka  74.4
153                   Sudan  65.3
154                Suriname  70.1
155               Swaziland  44.3
156                  Sweden  80.9
157             Switzerland  81.7
158                   Syria  75.9
159              Tajikistan  69.2
160                Tanzania  59.1
161                Thailand  73.8
162             Timor-Leste  69.2
163                    Togo  57.5
164                   Tonga  70.2
165     Trinidad and Tobago  71.5
166                 Tunisia  76.6
167                  Turkey  77.4
168            Turkmenistan  66.8
169                  Uganda  55.3
170                 Ukraine  67.6
171    United Arab Emirates  75.6
172          United Kingdom  79.5
173           United States  78.1
174                 Uruguay  75.7
175              Uzbekistan  69.2
176                 Vanuatu  63.2
177               Venezuela  74.4
178      West Bank and Gaza  74.3
179                 Vietnam  73.8
180                   Yemen  65.2

[181 rows x 2 columns]